---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import AnnouncementBanner from '../components/AnnouncementBanner.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Challenges from '../components/Challenges.astro';
import Timeline from '../components/Timeline.astro';
import Requirements from '../components/Requirements.astro';
import Sponsors from '../components/Sponsors.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
import ClosedModal from '../components/ClosedModal.astro';
---

<Layout
  title="COCHATECH 2026 - El Hackathon de Bolivia"
  description="El hackathon más importante de Bolivia. 36-48 horas para transformar ideas en soluciones reales que impacten a tu comunidad."
>
  <Navigation />
  <AnnouncementBanner />
  <main>
    <Hero />
    <About />
    <Challenges />
    <Timeline /> 
    <Requirements />
    <!-- <Prizes /> --> 
    <!-- <Mentors />-->
    <Sponsors />
    <FAQ />
  </main>
  <Footer />
  <ClosedModal />
</Layout>
